*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 85%;
    margin: auto;
}
header{
    display: flex;
    background-color: aquamarine;
    width: 100%;
    height:80px
}
.Left{
    display: flex;
    width: 60%;
    align-items: center;
}
.Left img{
    width: 150px;
    height: 45px;
    background-color: blue;
    padding: 10px;
}
.Left ul{
    width: 80%;
    list-style: none;
    display: flex;
    margin: 0 10px;
    background-color: aqua;
    justify-content: space-between;
}
.Left ul li{
    font-size: 20px;
    margin: 0 30px;
}
.Right{
    width: 40%;
    display: flex;
    align-items: center;
    background-color: rgb(0, 44, 221);
    justify-content: right;
}
.Right img:first-child{
    width: 25px;
    margin: 0 20px;
}
.Right img:last-child{
    width: 50px;
    margin: 0 20px;
}
.content{
    width: 100%;
    display: flex;
    background-color: blueviolet;
    padding: 50px;
}
main{
    width: 50%;
    background-color: rgb(90, 65, 36);
}
main .main{
    width: 100%;
    display: flex;

}
.main img{
    width: 80%;
    margin: auto;
    border-radius: 10px;
}
main .thumbnail{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20PX;
}
.thumbnail img{
    width: 100px;
    margin: 10px 35px;
    border-radius: 10px;
}
.thumbnail img:hover{
    border: 3px solid black;
}
.content aside{
    width: 50%;
    background-color: aquamarine;
    padding: 80px 200px 100px 50px;
}
aside .title{
    font-size: 15px;
    text-transform: uppercase;
    margin: 10px 0;
}
aside h1{
    font-size: 40px;
    margin: 10px 0;
}
aside .Discretion{
    font-size: 18px;
    padding: 30px 0;
}
aside h2{
    font-size: 30px;
}
aside .Price{
    display: flex;
    background-color: rgb(204, 170, 170);
    align-items: center;
}
#Price{
    font-size: 28px;
    margin-right: 20px;
}
#Discount{
    font-size: 18px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 6px;
}
aside h3{
    font-size: 20px;
    text-decoration:line-through;
    padding: 10px 0;
}
.calculate{
    width: 100%;
    background-color: rgb(85, 237, 125);
    display: flex;
    align-items: center;
    height: 70px;
}
.Totla{
    width: 40%;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
#guantity{
    width: 120px;
    font-size: 18px;
    text-align: center;
    padding: 12px;
    border: none;
}
#minus,#plus{
    width: 30px;
    font-size: 30px;
    border: 1px solid snow;
}
#minus{
    background-image:url("/Images/icon-minus.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px 0 0 10px;
}
#plus{
    border-radius: 0 10px 10px 0;
    background-image: url("/Images/icon-plus.svg");
    background-repeat: no-repeat;
    background-position: center;
}
#Order{
    width: 38%;
    display: flex;
    height: 45px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: orange;
}
#Order img{
    width: 23px;
    margin: 0 10px;
}
#Order h5{
    font-size: 16px;
}